:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: bold;
  color: #fff;
}

ul,
li,
label,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.vote-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vote-box p {
  margin-bottom: 10px;
}

.vote-box button + button {
  margin-top: 10px;
}

.vote-box button {
  padding: 5px;
}

ul {
  list-style: none;
}

p {
  font-size: 25px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, blue, purple);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

label {
  margin-right: 10px;
  font-size: 20px;
  text-transform: uppercase;
}

input {
  background-color: white;
  border-radius: 3px;
  border-width: 0;
  margin: 10px;
  height: 40px;
  width: 300px;
  font-family: Inter;
  font-size: 20px;
  color: black;
}

button {
  color: #fff;
  border-radius: 3px;
  width: 300px;
  height: 40px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  text-transform: uppercase;
}
button:hover {
  border-color: #646cff;
}
